<nav class="navbar navbar-default navbar-fixed">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Dubbo-wheel-后台管理系统</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                #*<li ><a href="my.html">我的面板 <span class="sr-only">(current)</span></a></li>
                <li ><a href="add_log.html">日志信息 <span class="sr-only">(current)</span></a></li>
                <li ><a href="attendance.html">考勤信息 <span class="sr-only">(current)</span></a></li>
                <li ><a href="performance.html">绩效信息 <span class="sr-only">(current)</span></a></li>
                <li ><a href="add_question.html">互动 <span class="sr-only">(current)</span></a></li>*#
            </ul>
            <ul class="nav navbar-nav navbar-right">
                #*<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">你好：${sessionScope.loginUser.nickName} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">个人信息</a></li>
                        <li><a href="#">修改密码</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#" onclick="logout()">退出</a></li>
                    </ul>
                </li>*#
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<script type="text/javascript">
    function logout() {
        if(confirm("确认要退出系统吗?")){
            window.location.href = "/user/logout";
        }
    }
</script>